.basketProduct img {
    width: 100%;
    max-width: 300px;
}.basketProduct{
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
   margin: 0 50px;
}
.basketProduct>div:nth-child(1){
    width: 70%;
}
.products{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 20px 0 20px 20px;
    border: 1px solid white;
    padding: 10px;
}
.products>div:nth-child(1){
    width: 60%;
    
}
.products>div:nth-child(2){
    width: 40%;
}
.buy{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    
}
.buy>div{
    margin: 20px 0;
}
.btn{
    border-radius: 20px;
    width: 80%;
    cursor: pointer;
}
.price{
    font-size: 2rem;
}
.description div{
    margin: 30px 0;
}