.headerImg {
    width: 200px;
}

.header {
    margin: 0 auto;
    background: #221F1F;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; */
    padding: 15px 5px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    align-items: center;
}

.search {
    width: 50%;
    flex-wrap: nowrap;
}

input {
    width: 85%;
    height: 40px;
    border-radius: 10px 0 0 10px;
    border: none;
    text-indent: 20px;
    min-width: 100px;
}

button {
    width: 15%;
    background: #00A046;
    height: 40px;
    border-radius: 0 10px 10px 0;
    border: none;
    color: white;
    font-size: 1.2rem;
    min-width: 70px;
}

span {
    color: red;
}

.basket {
    cursor: pointer;
}